name: Terraform Plan

on:
  pull_request:
    branches: [ "main" ]    # Auto plan for PR validation

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Download terraform.tfvars
        run: aws s3 cp s3://outline-terraform-config/terraform.tfvars ./terraform/terraform.tfvars

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false -reconfigure

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan -input=false
